body {
    margin: 0px;
    background-color: #f4f4f4;
    color: #333;
}

.user-container {
    margin: 100px 0px 0px 30px;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 110%;
    max-width: 80rem;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #C4C0C0;
    border-radius: 8px;
    padding: 10px;
}

@media(min-width: 600px) {
    .title {
        flex-direction: row;
        align-items: center;
    }
}

.title h2 {
    font-weight: bold;
    margin: 0;
    padding-left: 5px;
}

.add-user button {
    background-color: #1F19BE;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

    .add-user button:hover {
        background-color: #170FFA;
        transform: scale(1.05);
    }

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

    .table th,
    .table td {
        padding: 0.75rem;
        text-align: center;
        border: 1px solid #ddd;
    }

    .table th {
        background-color: #f2f2f2;
    }

.empty td {
    text-align: center;
    font-style: italic;
    color: #777;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.modal-content {
    background-color: white;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.2);
    position: relative;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

    .input-group div {
        display: flex;
        flex-direction: column;
/*        justify-content: space-between;*/
        margin-bottom: 0.5rem;
    }

        .input-group div label {
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        .input-group div input, select {
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1rem;
        }

            .input-group div input:focus, select:focus {
                outline: none;
                border-color: #03A9F4;
                box-shadow: 0 0 3px rgba(3, 169, 244, 0.5);
            }

@media(max-width: 500px) {
    .modal-content {
        width: 100%;
    }
}
