@page
@model OnlineBookStore.Pages.Author.AuthorModel

<link rel="stylesheet" type="text/css" href="~/css/Author/author.css" />
<script src="~/js/modal.js"></script>

@{
	ViewData["ModalTitle"] = "Add Author";
}

<div class="author-container">
	<div class="title">
		<h2>Author</h2>
		
		<div class="add-author">
			<button type="button" class="open-modal">Add Author</button>
		</div>
	</div>

	<div class="author-table">
		<table class="table">
			<thead>
				<tr>
					<th>Author Name</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				@if (Model.Authors != null && Model.Authors.Any())
				{
					@foreach (var author in Model.Authors)
					{
						<tr>
							<td>@author.AuthorName</td>
							<td>
								<button type="button" class="btn btn-secondary">Edit</button>
								<button type="button" class="btn btn-danger">Delete</button>
							</td>
						</tr>
					}
				}
				else{
				<tr>
					<td>Ajaya</td>
					<td>
						<button type="button" class="btn btn-secondary">Edit</button>
						<button type="button" class="btn btn-danger">Delete</button>
					</td>
				</tr>
				<tr class="empty">
					<td colspan="2">No Authors found</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
</div>

<!--Modal-->
<div id="modal" class="modal" draggable="true" role="dialog" aria-modal="true" aria-labelledby="modalTitle">
	<div class="modal-content">
		<!-- Include Header-->
		@await Html.PartialAsync("../Shared/_ModalHeader.cshtml")

		<!-- Modal Body (Input Fields) -->
		<div class="modal-body">
			<form method="post" class="new-author-form">
				<div class="input-group">
					<label for="authorName">Author Name</label>
					<input type="text" asp-for="Author.AuthorName" id="authorName" class="input-field" placeholder="Enter author name" required />
				</div>
				<div class="additional">
					<button type="button" id="additional-author" class="btn-outline-primary">Add Author</button>
				</div>
			</form>
			
		</div>

		<!-- Include Footer -->
		@await Html.PartialAsync("../Shared/_ModalFooter.cshtml")
	</div>
</div>
