body {
    margin: 0px;
    background-color: #f4f4f4;
    color: #333;
}

.add-role button {
    background-color: #1F19BE;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

    .add-role button:hover {
        background-color: #170FFA;
        transform: scale(1.05);
    }

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

    .input-group label {
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    .input-group #roleName {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;
    }

        .input-group #roleName:focus {
            outline: none;
            border-color: #03A9F4;
            box-shadow: 0 0 3px rgba(3, 169, 244, 0.5);
        }

@media(max-width: 500px) {
    .modal-content {
        width: 100%;
    }
}
