@page
@* @model OnlineCategoryStore.Pages.Category *@
@{
	ViewData["ModalTitle"] = "Add Category";
}

@* <link rel="stylesheet" type="text/css" href="~/css/Book/category.css" /> *@
<script src="~/js/modal.js"></script>
<script src="~/js/confirmDelete.js"></script>

<div class="page-container">
	<div class="title page-title">
		<h2>Category</h2>

		<div class="mid">
			<div></div>
			<input type="text" id="searchInput" placeholder="Search by name..." class="form-control" />
		</div>

		<div class="add-book">
			<button type="button" class="open-modal">Add Category</button>
		</div>
	</div>
</div>