body {
    margin: 0px;
}

.author-container {
    width: 100%;
    max-width: 80rem;
    min-width: 480px;
    background-color: #f9f9f9;
    /*margin: 0 auto;*/ /* Centers it horizontally */
    padding: 20px 0px 0px 20px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #C4C0C0;
    border-radius: 8px;
    padding: 10px;
}

.title h2{
    font-weight: bold;
    padding-left: 5px;
}

.title .add-author{
    cursor: pointer;
    padding-right: 5px;
}

    .title .add-author button {
        padding: 5px 10px;
        background-color: #1F19BE;
        border: none;
        border-radius: 5px;
        color: white;
        padding:5px;
        transition: background-color 0.5s ease-in-out;
    }

        .title .add-author button:hover {
            background-color: #170FFA;
            font-size: 1.05rem;
        }

/*        .new-author-form {
            display: none;
        }*/

.empty{
    text-align: center;
}

.table{
    text-align: center;
}

.modal{
    display: none;
    position: fixed;
    z-index:1000;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.modal-content{
    background-color: white;
    width: 400px;
    border-radius:8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    position: relative;
}

.input-group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

    .input-group #authorName {
        outline: none;
        border: 1px solid #b3b3b3;
    }

        .input-group #authorName:focus {
            border: 1px solid #03A9F4;
        }

.additional{
    display: flex;
    flex-direction: row-reverse;
}

#additional-author{
    margin-top:5px;
}

@media (max-width: 500px) {
    .author-container {
        width: 95%; /* Further reduces width for smaller screens */
        min-width: auto; /* Allows it to shrink below 480px if necessary */
    }
}
