<link rel="stylesheet" type="text/css" href="~/css/ModalDialog/modalheader.css"/>

@{
    var modalTitle = ViewData["ModalTitle"]?.ToString() ?? "";
    var isDelete = modalTitle.ToLower().Contains("delete");
    var isAdd = modalTitle.ToLower().Contains("add");
    var isUpdate = modalTitle.ToLower().Contains("edit");
    var buttonClass = isDelete ? "dclose" : "close";
}

@* Modal Header *@
<div class="modalheader" role="dialog" aria-modal="true" aria-labelledby="modalTitle" aria-hidden="true">
	<h2 id="modalTitle">@ViewData["ModalTitle"]</h2>
    <span class="@buttonClass" tabindex="0" aria-label="Close">&times;</span>
</div>
