<link rel="stylesheet" type="text/css" href="~/css/ModalDialog/modalfooter.css" />

@* Modal Footer *@
<div class="modalfooter">
	<button type="submit" class="btn btn-save" aria-label="Save Changes">Save</button>
	<button type="button" class="btn btn-cancel" aria-label="Cancel Changes">Cancel</button>
</div>
